<p>
    <strong>Blind Range:</strong>
    <%= @chart.blindrange%>
</p>

<p>
    <strong>Situation :</strong>
    <%= @chart.situation%>
</p>

<p>
    <strong>Opponent type:</strong>
    <%= @chart.opponent%>
</p>


    <strong>Chart </strong>
     <div>
        <%= image_tag(@chart.image, style: "width:400px")%>
        </div>


